UEAudioDSPTemplate.sln
.vs/
Binaries/
DerivedDataCache/
Intermediate/
Plugins/AudioDSPTemplate/Binaries/
Plugins/AudioDSPTemplate/Intermediate/
Saved/
Script/
.vsconfig
Config/DefaultInput.ini
Config/HoloLens/HoloLensEngine.ini
